﻿@model LongCare.Areas.LoginService.Models.Mails.ResetPasswordMail

To: @Model.To
From: Aoneemr@gmail.com
Subject: @Model.Subject

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.</title>
</head>
<body>

</body>
</html>
