﻿@inherits UmbracoViewPage

@using Umbraco.Web.Models

@{
    IPublishedContent homePage = Model.Root();
    //IEnumerable<IPublishedContent> navigationPages = homePage.Children(x => x.IsVisible() && x.Value("menuAuthorizeLevel") == null);
    IEnumerable<IPublishedContent> mainFunction = homePage.Children(x => x.IsVisible() && x.Value<string>("menuLevelByType") == "General");
}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!--Siderbar-->
    <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">長照資訊系統</div>
        </a>
        <!--Divider-->
        <hr class="sidebar-divider my-0">
    </li>
    <!--Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#mainMenu" aria-expanded="true" aria-controls="mainMenu">
            <i class="fas fa-fw fa-bars"></i>
            <span>行政管理</span>
        </a>
        <div id="mainMenu" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @if (mainFunction != null && mainFunction.Count() > 0)
                {
                    <ul class="collapse-inner ml-4">
                        @RenderChildren(mainFunction)
                    </ul>
                }
            </div>
        </div>
        <!--Divider-->

        <hr class="sidebar-divider my-0">
    </li>
    <li class="text-center my-2">
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </li>
</ul>


@helper RenderChildren(IEnumerable<IPublishedContent> navigationPages)
{
    foreach (IPublishedContent item in navigationPages)
    {
        if (item.ContentType.Alias == "prettyLink")
        {
            @RenderPrettyLink(item)
        }
        else
        {
            @RenderPageLink(item)
        }
    }
}

@helper RenderPrettyLink(IPublishedContent item)
{
    var links = item.Value<IEnumerable<Link>>("linkTarget");
    Link prettyLink = null;
    if (links != null && links.Count() > 0)
    {
        prettyLink = links.FirstOrDefault();
    }

    if (prettyLink != null)
    {
        if (!item.Value<bool>("disableDropdown") && item.Children != null && item.Children.Where(x => x.IsVisible()).Any())
        {
            IEnumerable<IPublishedContent> childItems = item.Children.Where(x => x.IsVisible());
            bool textOnly = item.Value<bool>("textOnlyInNavigation");
            <li class="dropdown">
                <a class="dropdown-toggle @(textOnly ? "textonly" : null)" data-toggle="dropdown" aria-expanded="false" href="@prettyLink.Url">@prettyLink.Name <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    @RenderChildren(childItems)
                </ul>
            </li>
        }
        else
        {
            <li role="presentation">
                <a href="@prettyLink.Url" target="@prettyLink.Target">@prettyLink.Name</a>
            </li>
        }

    }
}

@helper RenderPageLink(IPublishedContent item)
{
    bool isActive = Model.Id == item.Id;

    if (!item.Value<bool>("disableDropdown") && item.Children != null && item.Children.Where(x => x.IsVisible()).Any())
    {
        IEnumerable<IPublishedContent> childItems = item.Children.Where(x => x.IsVisible());
        bool textOnly = item.Value<bool>("textOnlyInNavigation");
        <li class="dropdown">
            <a class="dropdown-toggle @(textOnly ? "textonly" : null) @(isActive ? "active" : null)" data-toggle="dropdown" aria-expanded="false" href="@item.Url">@item.Name <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                @RenderChildren(childItems)
            </ul>
        </li>
    }
    else
    {
        <li role="presentation" class="@(isActive ? "active" : null)">
            <a href="@item.Url">@(item.Value<string>("title")??item.Name)</a>
        </li>
    }
}
