﻿@inherits UmbracoViewPage
@{
    //提供上方登入訊息
    var currentMember = (Members.IsLoggedIn()) ? Members.GetCurrentMember() : null;
}

<ul class="navbar-nav ml-auto">
    @if (currentMember == null)
    {
    <li class="nav-item ">提供登入功能</li>
        
    }
    else
    {
        <li class="nav-item">提供帳戶資訊</li>
    }
</ul>
