﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@*
    This snippet makes a breadcrumb of parents using an unordered HTML list.

    How it works:
    - It uses the Ancestors() method to get all parents and then generates links so the visitor can go back
    - Finally it outputs the name of the current page (without a link)
*@

@{ var selection = Model.Ancestors().ToArray(); }

@if (selection.Length > 0)
{
    <ul class="breadcrumb">
        @* For each page in the ancestors collection which have been ordered by Level (so we start with the highest top node first) *@
        @foreach (var item in selection.OrderBy(x => x.Level))
        {
            if (item.HasProperty("realName"))
            {
                <li><a href="@item.Url">@item.Value("realName")</a> <span class="divider">/</span></li>
            }
            else
            {
                <li><a href="@item.Url">@(item.HasValue("title") ? item.Value("title") : item.Name)</a> <span class="divider">/</span></li>
            }

        }

        @* Display the current page as the last item in the list *@
        @if (Model.HasProperty("realName"))
        {
            <li class="active">@Model.Value("realName")</li>
        }
        else
        {
            <li class="active">@(Model.HasValue("title") ? Model.Value("title") : Model.Name)</li>
        }

    </ul>
}