﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContactPerson>
@{ 
    var parent = new Resident(Model.Parent);
    var name = parent.RealName ?? parent.Name;
}
<!--分兩塊，右邊顯示聯絡人，若無則顯示無聯絡人-->
<div class="card ">
    <div class="card-header">
        <h5 class="card-title">@name 的家屬 @(Model.NickName??Model.RealName)</h5>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col" style="border-right:1px blue dashed">
                    <h5>基本資料</h5>
                    <table class="table">
                        <tr>
                            <th>姓名</th>
                            <td>@Model.RealName</td>
                        </tr>
                        <tr>
                            <th>暱稱</th>
                            <td>@Model.RealName</td>
                        </tr>
                        <tr>
                            <th>性別</th>
                            <td>@(((EnumGenderType)Enum.Parse(typeof(EnumGenderType), @Model.Gender)).ToChineseString())</td>
                        </tr>
                        <tr>
                            <th>關係</th>
                            <td>@(((EnumKinship)Enum.Parse(typeof(EnumKinship), @Model.Relationship)).ToChineseString())</td>
                        </tr>
                    </table>
                </div>
                <div class="col">
                    <h5>聯絡資訊</h5>
                    <table class="table">
                        <tr>
                            <th>住家電話</th>
                            <td>@Model.TelHome</td>
                        </tr>
                        <tr>
                            <th>辦公室電話</th>
                            <td>@Model.TelOffice</td>
                        </tr>
                        <tr>
                            <th>手機號碼</th>
                            <td>@Model.TelMobile</td>
                        </tr>
                        <tr>
                            <th>電子郵件地址</th>
                            <td>@Model.EMail</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
