﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IEnumerable<Resident>>
@{
    var residentList = from r in Model
                       where !string.IsNullOrEmpty(r.RealName)
                       select r;

}
@if (residentList != null)
{
    <table class="table table-striped table-bordered mt-2 GridTable" id="resident">
        <thead>
            <tr>
                <th>身分證號</th>
                <th>姓名</th>
                <th>性別</th>
                <th>生日</th>
                <th>入住日期</th>
                <th>房號</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (residentList.Any())
            {
                foreach (var r in residentList)
                {

                    EnumGenderType g = (EnumGenderType)Enum.Parse(typeof(EnumGenderType), r.Gender);
                    <tr>
                        <td><a href=@("?id=" +r.Id)>@r.PersonID</a></td>
                        <td>@(r.RealName??r.Name)</td>
                        <td>@g.ToChineseString()</td>
                        <td>@(r.Birthday.Year == 1?"未填寫":r.Birthday.ToString("yyyy/MM/dd"))</td>
                        <td>@(r.StartDate.Year == 1? "尚未入住":r.StartDate.ToString("yyyy/MM/dd"))</td>
                        <td>尚未支援</td>
                        <td style="max-width:60px; min-width:60px;">
                            <button title="更新" onclick="location.href='@("?id=" + r.Id +"&mode=u")'"><i class="fas fa-pen text-primary"></i></button>
                            <button title="刪除" onclick="location.href='@("?id=" + r.Id +"&mode=d")'" ><i class="fas fa-times text-danger"></i></button>
                            <button onclick="location.href='@r.Url'"   title="詳細資料"><i class="fas fa-eye text-info"></i></button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7">目前沒有資料</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>資料錯誤。</p>
}

