﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Resident>
@{
    //var resident = Model;
    var contacts = Model.Children<ContactPerson>();
    string headPicture;
    if (Model.HasValue("picture"))
    {
        headPicture = Model.Picture.Url;
    }
    else
    {
        headPicture = @"/img/avatar_2x.png";
    }
    
}
<!--分兩塊，右邊顯示聯絡人，若無則顯示無聯絡人-->
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-3">
            <img src="@headPicture" class="card-img-top" alt="個人大頭照" />
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">@Model.RealName</h5>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col" style="border-right:1px blue dashed">
                            <h5>基本資料</h5>
                            <table class="table">
                                <tr>
                                    <th>性別</th>
                                    <td>@(((EnumGenderType)Enum.Parse(typeof(EnumGenderType), @Model.Gender)).ToChineseString())</td>
                                </tr>
                                <tr>
                                    <th>生日</th>
                                    <td>@(Model.Birthday.Year == 1 ? "未填寫" : Model.Birthday.ToString("yyyy/MM/dd"))</td>
                                </tr>
                                <tr>
                                    <th>入住日期</th>
                                    <td>@(Model.StartDate.Year == 1 ? "尚未入住" : Model.StartDate.ToString("yyyy/MM/dd"))</td>
                                </tr>
                                <tr>
                                    <th>狀態</th>
                                    <td>@(Model.IsStay ? "住宿中" : "已離院")</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col">
                            <h5>聯絡資訊</h5>
                            <table class="table">
                                <tr>
                                    <th>住家電話</th>
                                    <td>@Model.TelHome</td>
                                </tr>
                                <tr>
                                    <th>辦公室電話</th>
                                    <td>@Model.TelOffice</td>
                                </tr>
                                <tr>
                                    <th>手機號碼</th>
                                    <td>@Model.TelMobile</td>
                                </tr>
                                <tr>
                                    <th>電子郵件地址</th>
                                    <td>@Model.EMail</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <hr />
                <button onclick="location.href='@(Model.Url + "?mode=c")'">新增聯絡人</button>
                @if (contacts != null && contacts.Any())
                {
                    <table class="table table-bordered">
                        <caption class="text-center" style="caption-side:top;"><h4>聯絡人</h4></caption>
                        <thead>
                            <tr>
                                <td>姓名</td>
                                <td>關係</td>
                                <td>住家電話</td>
                                <td style="min-width:18%;">功能</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in contacts)
                            {
                            <tr>
                                <td>@c.RealName</td>
                                <td>@(((EnumKinship)Enum.Parse(typeof(EnumKinship), c.Relationship)).ToChineseString())</td>
                                <td>@c.TelHome</td>
                                <td>
                                    <button title="更新" onclick="location.href='@(Model.Url + "?id=" + c.Id +"&mode=u")'"><i class="fas fa-pen text-primary"></i></button>
                                    <button title="刪除" onclick="location.href='@(Model.Url + "?id=" + c.Id +"&mode=d")'"><i class="fas fa-times text-danger"></i></button>
                                    <button onclick="location.href='@c.Url'" title="詳細資料"><i class="fas fa-eye text-info"></i></button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                }
              
            </div>
        </div>
    </div>
</div>


