﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactPerson>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "masterLogin.cshtml";
}
<div class="container-fluid">
	<div class="row">
		<div class="col">
			@Html.Partial("Partials/Resident/_ShowContactPersonDetailCard", Model)
		</div>
	</div>
</div>