﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using ClientDependency.Core.Mvc

@{
    Layout = "master.cshtml";

}

<div class="container-fluid">
    <div class="row">
        @Html.Partial("SiteLayout/_TopNaviagtion")
    </div>
    <div class="row">
        <p class="mb-4">這是首頁</p>

        </div>

</div>

