﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{ Html.RenderPartial("SiteLayout/_MetaData"); }

    <link href="~/node_modules/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/node_modules/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body id="page-top">
    <div id="wrapper">
        <!--Sidebar-->
        @*  @Html.CachedPartial("SiteLayout/_MainNavigation", Model, 3600)*@
        @Html.Partial("SiteLayout/_MainNavigation", Model)
        <!--End of Sidebar-->
        <!--Content-->
        <div class="container-fluid">
            <div class="row">
                @Html.Partial("SiteLayout/_TopNaviagtion")
            </div>
            <div class="row">
                @Html.Partial("SiteLayout/PageDeep")
                @RenderBody()
            </div>

        </div>
        <!--End of Sidebar-->
    </div>

    <script src="~/node_modules/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>
    <script src="~/node_modules/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/node_modules/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/node_modules/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>
    <script src="~/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/scripts/MyScripts.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>





