﻿
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Resident>
@using ContentModels = Umbraco.Web.PublishedModels;
@*
    住民基本資料
*@
@{
    Layout = "masterLogin.cshtml";
    //聯絡人
    var contacts = Model.Children<ContactPerson>();

    //串接資訊
    var id = Request.QueryString["id"];                         //聯絡人
    var mode = Request.QueryString["mode"];                     //編修狀態
    var submitResult = Request.QueryString["submitResult"];     //編修結果

}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            @*顯示住民細項(包含聯絡人清單)*@
            @Html.Partial("Partials/Resident/_ShowResidentDetailCard", Model)
        </div>
    </div>
    <div class="row">
        @if (id != null)
        {
            var r = Umbraco.Content(id);
            <hr />
            if (mode == "u")
            {
                var model = new ViewModelBased
                {
                    ContentId = int.Parse(id),
                    ParentId = Model.Id,
                    ReturnPageId = Model.Id,
                    MaintainType = EnumMaintainType.u
                };
                <div class="col">
                    @*更新聯絡人*@
                    @Html.Action("RenderMaintainContactPersonForm", "Resident", model) 
                </div>
            }
            else
            {
                <div class="col">
                    @*顯示聯絡人細項*@
                    @Html.Partial("Partials/Resident/_ShowContactPersonDetailCard", r)
                </div>
                if (mode == "d")
                {
                    var model = new ViewModelBased
                    {
                        ContentId = int.Parse(id),
                        ParentId = Model.Id,
                        ReturnPageId = Model.Id,
                        MaintainType = EnumMaintainType.d
                    };
                    <div>
                        @*刪除聯絡人*@
                        @Html.ActionLink("確定要刪除?", "DeleteContent", "Resident", model, new { @class = "btn btn-primary" })
                    </div>
                }
            }
        }
        else if (mode != null && mode == "c")
        {
            @*若是要新增*@
            var model = new ViewModelBased
            {
                ParentId = Model.Id,
                ReturnPageId = Model.Id,
                MaintainType = EnumMaintainType.c

            };
            <hr />
            <div class="col">
                @*新增聯絡人*@
                @Html.Action("RenderMaintainContactPersonForm", "Resident", model)
            </div>
        }
    </div>
</div>

