﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ResidentRoot>
@using ContentModels = Umbraco.Web.PublishedModels;
@*
    住民管理系統首頁
*@
@{

    Layout = "masterLogin.cshtml";
    //列出所有住宿中的住民
    var residentList = Model.Children<Resident>();
    //取得傳入資料
    var id = Request.QueryString["id"];
    var mode = Request.QueryString["mode"];
    var submitResult = Request.QueryString["submitResult"];
}

<div class="container-fluid">
    <!--顯示住民清單-->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">住民清單 <span class="float-right"><button href="?mode=c" title="新增" onclick="location.href='?mode=c'"><i class="fas fa-plus text-primary"></i></button></span></h5>
                </div>
                <div class="card-body">
                    @Html.Partial("Partials/Resident/_ShowResidentListTable", residentList)
                </div>
                @if (submitResult != null)
                {
                    <div class="card-footer">
                        <p>@submitResult</p>
                    </div>

                }
            </div>
        </div>
    </div>
    <div class="row mt-3">
        @*如果 rId有值, 表示要顯示詳細內容或者更新*@
        @if (id != null)
        {
            var r = Umbraco.Content(id);
            <hr />
            @*如果是要更新*@
            if (mode == "u")
            {
                var model = new ViewModelBased
                {
                    ContentId = int.Parse(id),
                    ParentId = Model.Id,
                    ReturnPageId = Model.Id,
                    MaintainType = EnumMaintainType.u
                };
                <div class="col">
                    @Html.Action("RenderMaintainResidentForm", "Resident", model)
                </div>

            }
            else
            {
                <div class="col">
                    @Html.Partial("Partials/Resident/_ShowResidentDetailCard", r)
                </div>
                if (mode == "d")
                {
                    var model = new ViewModelBased
                    {
                        ContentId = int.Parse(id),
                        ParentId = Model.Id,
                        ReturnPageId = Model.Id,
                        MaintainType = EnumMaintainType.d
                    };
                    <div>
                        @Html.ActionLink("確定要刪除?", "DeleteContent", "Resident", model, new { @class = "btn btn-primary" })
                    </div>

                }

            }

        }
        else if (mode != null && mode == "c")
        {
            @*若是要新增*@
            var model = new ViewModelBased
            {
                ParentId = Model.Id,
                ReturnPageId = Model.Id,
                MaintainType = EnumMaintainType.c

            };

            <hr />
            <div class="col">
                @Html.Action("RenderMaintainResidentForm", "Resident", model)
            </div>

        }
    </div>

</div>

@section scripts{
    <script>
        $(
            function () {
                $('#Person_Birthday').datepicker();
            });

    </script>
    <script>
        function Delete(id) {

        }
    </script>
}