﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<MaintainContactPersonViewModel>

@using (Html.BeginUmbracoForm<LongCare.Controllers.ResidentController>("SubmitMaintainContactPersonForm"))
{
    @Html.HiddenFor(x => x.ContentId)
    @Html.HiddenFor(x => x.ParentId)
    @Html.HiddenFor(x => x.ReturnPageId)
    @Html.HiddenFor(x => x.SiteId)
    @Html.HiddenFor(x => x.MemberId)
    @Html.HiddenFor(x => x.MaintainType)
    @Html.HiddenFor(x => x.Content.Title)
    @Html.HiddenFor(x => x.Content.Description)
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">@Model.MaintainType.ToChineseString() 聯絡人</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="border-right:1px blue dashed ">
                    <h4>基本資料</h4>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Person.RealName, new { @class = "control-label" }) @Html.Raw(Model.IsRequired("RealName"))
                        @Html.TextBoxFor(x => x.Person.RealName, new { @class = "form-control", placeholder = "聯絡人姓名" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Person.NickName, new { @class = "control-label" }) @Html.Raw(Model.IsRequired("NickName"))
                        @Html.TextBoxFor(x => x.Person.NickName, new { @class = "form-control", placeholder = "聯絡人暱稱" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Person.Gender, new { @class = "control-label" }) @Html.Raw(Model.IsRequired("Gender"))
                        @Html.DropDownListFor(x => x.Person.Gender, Model.GenderList, "--請選擇性別--", new { @class = "form-control", placeholder = "性別" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Person.Relationship, new { @class = "control-label" }) @Html.Raw(Model.IsRequired("Gender"))
                        @Html.DropDownListFor(x => x.Person.Relationship, Model.RelationshipList, "--請選擇關係--", new { @class = "form-control", placeholder = "關係" })
                    </div>
                </div>
                <div class="col">
                    <h4>聯絡資訊</h4>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Contact.Tel_Home, new { @class = "control-label" }) @Html.Raw(Model.IsRequired("Tel_Home"))
                        @Html.TextBoxFor(x => x.Contact.Tel_Home, new { @class = "form-control", placeholder = "住家電話" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Contact.Tel_Office, new { @class = "control-label" }) @Html.Raw(Model.IsRequired("Tel_Office"))
                        @Html.TextBoxFor(x => x.Contact.Tel_Office, new { @class = "form-control", placeholder = "辦公室電話" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Contact.Tel_Mobile, new { @class = "control-label" }) @Html.Raw(Model.IsRequired("Tel_Mobile"))
                        @Html.TextBoxFor(x => x.Contact.Tel_Mobile, new { @class = "form-control", placeholder = "手機號碼" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Contact.Email, new { @class = "control-label" }) @Html.Raw(Model.IsRequired("Email"))
                        @Html.TextBoxFor(x => x.Contact.Email, new { @class = "form-control", placeholder = "電子郵件號碼" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-right">
                <input type="reset" value="重設" class="btn btn-primary" />
                <input type="submit" value="@Model.MaintainType.ToChineseString()" class="btn btn-primary" />
            </div>
        </div>
    </div>

}

